<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TipSport</title>

    <link rel="stylesheet" href="styles/style.css">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap" rel="stylesheet">
</head>
<body>
    <main class="home connect">
        <section class="home-form connect">

        </section>
        <section class="home-presentation">

            <div class="presentation-create">
                <div class="content">
                    <h3>La solution pour créer ton programme sportif</h3>
                    <ul>
                        <li>
                            <div class="icon"></div>
                            <div class="descritpion">
                                Des exercices séléctionnés pour ton objectif
                            </div>
                        </li>
                        <li>
                            <div class="icon"></div>
                            <div class="descritpion">
                                Un planning complet pour tes entraînements
                            </div>
                        </li>
                        <li>
                            <div class="icon"></div>
                            <div class="descritpion">
                                Tout les bons plans sportifs autour de toi
                            </div>
                        </li>
                    </ul>
                    <div class="switch-button to-create">
                        <h2>Connectez-vous !</h2>
                        <button>connection</button>
                    </div>
                </div>
            </div>

            <div class="presentation-connect">
                <div class="content">
                    <h3>La solution pour créer ton programme sportif</h3>
                    <ul>
                        <li>
                            <div class="icon"></div>
                            <div class="descritpion">
                                Des exercices séléctionnés pour ton objectif
                            </div>
                        </li>
                        <li>
                            <div class="icon"></div>
                            <div class="descritpion">
                                Un planning complet pour tes entraînements
                            </div>
                        </li>
                        <li>
                            <div class="icon"></div>
                            <div class="descritpion">
                                Tout les bons plans sportifs autour de toi
                            </div>
                        </li>
                    </ul>
                    <div class="switch-button to-create">
                        <h2>Créer un compte</h2>
                        <button>s'inscrire</button>
                    </div>
                </div>
            </div>

        </section>
        <section class="home-form create">

        </section>
    </main>
    <h1>TipSport</h1>
    <script src="./scripts/app.js"></script>
</body>
</html>