:root {
  --light-blue: #4fd7eb;
  --blue: #2d92af;
  --light-grey: #f8f8f8;
  --white: #fcfcfc;
  --blue-opacity-home: rgba(45,146,175, 0.5);
  --montserra: 'Montserrat', sans-serif;
  --connect-img: url('../assets/connect-home-img.png');
  --create-img: url('../assets/create-home-img.png'); }

body {
  font-family: var(--montserra);
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  font-size: 38px; }

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  will-change: left;
  transition: left 1s ease-in; }
  main.connect {
    top: 0;
    left: 0; }
    main.connect section.home-presentation .presentation-create {
      display: block; }
    main.connect section.home-presentation .presentation-connect {
      display: none; }
  main:not(.connect) {
    top: 0;
    left: -60vw; }
    main:not(.connect) section.home-presentation .presentation-create {
      display: none; }
    main:not(.connect) section.home-presentation .presentation-connect {
      display: block; }
  main section {
    height: 100%; }
    main section.home-form {
      background-color: blue;
      width: 60vw; }
    main section.home-presentation {
      width: 40vw; }
      main section.home-presentation .presentation-create, main section.home-presentation .presentation-connect {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box; }
        main section.home-presentation .presentation-create .content, main section.home-presentation .presentation-connect .content {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 10%;
          background-color: var(--blue-opacity-home);
          color: var(--white); }
          main section.home-presentation .presentation-create .content h3, main section.home-presentation .presentation-connect .content h3 {
            margin: 0;
            font-size: 36px; }
          main section.home-presentation .presentation-create .content ul, main section.home-presentation .presentation-connect .content ul {
            list-style: none;
            padding: 0; }
            main section.home-presentation .presentation-create .content ul li, main section.home-presentation .presentation-connect .content ul li {
              display: flex;
              flex-direction: row;
              align-items: center; }
              main section.home-presentation .presentation-create .content ul li .icon, main section.home-presentation .presentation-connect .content ul li .icon {
                margin-right: 30px;
                width: 10%;
                height: 10%; }
                main section.home-presentation .presentation-create .content ul li .icon img, main section.home-presentation .presentation-connect .content ul li .icon img {
                  width: 100%;
                  height: 100%; }
              main section.home-presentation .presentation-create .content ul li .description, main section.home-presentation .presentation-connect .content ul li .description {
                font-size: 22px; }
          main section.home-presentation .presentation-create .content .switch-button, main section.home-presentation .presentation-connect .content .switch-button {
            text-align: center; }
            main section.home-presentation .presentation-create .content .switch-button h2, main section.home-presentation .presentation-connect .content .switch-button h2 {
              margin: 0;
              font-size: 44px; }
            main section.home-presentation .presentation-create .content .switch-button button, main section.home-presentation .presentation-connect .content .switch-button button {
              font-size: 28px; }
      main section.home-presentation .presentation-create {
        background-image: var(--create-img); }
      main section.home-presentation .presentation-connect {
        background-image: var(--connect-img); }
