:root {
  --light-blue: #4fd7eb;
  --blue: #2d92af;
  --light-grey: #f8f8f8;
  --white: #fcfcfc;
  --blue-opacity-home: rgba(45,146,175, 0.5);
  --montserra: 'Montserrat', sans-serif;
  --connect-img: url('../assets/connect-home-img.png');
  --create-img: url('../assets/create-home-img.png'); }

body {
  font-family: var(--montserra);
  background-color: var(--white);
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative; }

h1 {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  font-size: 38px;
  color: var(--white);
  will-change: color;
  transition: color 0.3s ease-in;
  transition-delay: 0.8s; }
  h1.blue {
    color: var(--blue);
    transition-delay: 0.2s; }

main {
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  will-change: all;
  transition: left 1s ease-in-out; }
  main.connect {
    top: 0;
    left: 0; }
    main.connect section.home-presentation .presentation-create {
      display: none; }
    main.connect section.home-presentation .presentation-connect {
      display: block; }
  main:not(.connect) {
    top: 0;
    left: -60vw; }
    main:not(.connect) section.home-presentation .presentation-create {
      display: block; }
    main:not(.connect) section.home-presentation .presentation-connect {
      display: none; }
  main section {
    height: 100%;
    will-change: all; }
    main section.home-form {
      width: 60vw; }
    main section.home-presentation {
      width: 40vw; }
      main section.home-presentation .presentation-create, main section.home-presentation .presentation-connect {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        box-sizing: border-box; }
        main section.home-presentation .presentation-create .content, main section.home-presentation .presentation-connect .content {
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          padding: 16vh 10%;
          background-color: var(--blue-opacity-home);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: var(--white); }
          main section.home-presentation .presentation-create .content h3, main section.home-presentation .presentation-connect .content h3 {
            margin: 0;
            font-size: 36px; }
          main section.home-presentation .presentation-create .content ul, main section.home-presentation .presentation-connect .content ul {
            list-style: none;
            padding: 0; }
            main section.home-presentation .presentation-create .content ul li, main section.home-presentation .presentation-connect .content ul li {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin-bottom: 10%; }
              main section.home-presentation .presentation-create .content ul li .icon, main section.home-presentation .presentation-connect .content ul li .icon {
                margin-right: 30px;
                width: 10%;
                height: 10%; }
                main section.home-presentation .presentation-create .content ul li .icon img, main section.home-presentation .presentation-connect .content ul li .icon img {
                  width: 100%;
                  height: 100%; }
              main section.home-presentation .presentation-create .content ul li .description, main section.home-presentation .presentation-connect .content ul li .description {
                font-size: 22px; }
            main section.home-presentation .presentation-create .content ul li:last-of-type, main section.home-presentation .presentation-connect .content ul li:last-of-type {
              margin-bottom: 0; }
          main section.home-presentation .presentation-create .content .switch-button, main section.home-presentation .presentation-connect .content .switch-button {
            text-align: center; }
            main section.home-presentation .presentation-create .content .switch-button h2, main section.home-presentation .presentation-connect .content .switch-button h2 {
              margin: 0;
              font-size: 44px;
              font-weight: 600;
              margin-bottom: 32px; }
            main section.home-presentation .presentation-create .content .switch-button button, main section.home-presentation .presentation-connect .content .switch-button button {
              font-size: 28px;
              color: var(--white);
              background-color: transparent;
              border: 2px solid var(--white);
              border-radius: 40.5px;
              padding-top: 8px;
              padding-bottom: 8px;
              width: 60%;
              min-width: fit-content;
              text-transform: uppercase;
              font-weight: 500; }
              main section.home-presentation .presentation-create .content .switch-button button:hover, main section.home-presentation .presentation-connect .content .switch-button button:hover {
                cursor: pointer; }
      main section.home-presentation .presentation-create {
        background-image: var(--create-img); }
      main section.home-presentation .presentation-connect {
        background-image: var(--connect-img); }

main section.home-form .content {
  width: 100%;
  height: 100%;
  padding: 16vh 10%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  text-align: center; }
  main section.home-form .content form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    main section.home-form .content form h2 {
      font-size: 44px;
      color: var(--blue);
      margin: 0; }
    main section.home-form .content form .inputs {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto; }
      main section.home-form .content form .inputs label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 60%;
        height: 100%;
        background-color: var(--light-grey);
        box-sizing: border-box;
        padding: 16px 32px;
        border-radius: 40.5px;
        margin-bottom: 8%; }
        main section.home-form .content form .inputs label img {
          height: 80%;
          margin-right: 8px; }
        main section.home-form .content form .inputs label input {
          background-color: transparent;
          border: none;
          width: 100%;
          color: var(--blue);
          font-size: 32px;
          font-weight: lighter; }
          main section.home-form .content form .inputs label input:focus {
            outline: none; }
          main section.home-form .content form .inputs label input::placeholder {
            color: var(--blue); }
        main section.home-form .content form .inputs label:focus-within {
          outline-color: #4d90fe;
          outline-offset: -2px;
          outline-style: auto;
          outline-width: 5px; }
        main section.home-form .content form .inputs label.second-choice {
          margin-bottom: 0; }
      main section.home-form .content form .inputs a.password-reset {
        width: 60%;
        text-align: left;
        margin-bottom: 8%;
        margin-left: 64px;
        font-size: 22px;
        color: var(--blue);
        font-weight: lighter;
        text-decoration: none; }
    main section.home-form .content form input[type=submit] {
      background-color: var(--blue);
      font-size: 28px;
      color: var(--white);
      text-transform: capitalize;
      border-radius: 40.5px;
      width: 50%;
      padding: 16px 32px;
      cursor: pointer; }
  main section.home-form .content .bubble {
    position: absolute;
    width: 50vh;
    height: 50vh;
    background-color: var(--light-blue);
    opacity: 0.2;
    border-radius: 50%; }
    main section.home-form .content .bubble.bb-top-right {
      top: 0;
      right: 0;
      transform: translate(50%, -50%); }
    main section.home-form .content .bubble.bb-top-left {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%); }
    main section.home-form .content .bubble.bb-bottom-right {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%); }
    main section.home-form .content .bubble.bb-bottom-left {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%); }
