/* 
bleu: #2D92AF 
gris bouton: #F8F8F8
*/
@font-face {
    font-family: "ITC-Avant-Garde-Gothic";
    src: url(ITC-Avant-Garde-Gothic-LT-Bold.otf);
}

* {
	box-sizing: border-box;
}

body{
    color: #2D92AF;
}

h1{
    font-family: "ITC-Avant-Garde-Gothic";
    font-size: 2.375rem;
}

h2{
    src: url('Gotham-Light.otf');
    font-size: 1.75rem;
}

h3{
    font-size: 2.75rem;
}

.titles{
    text-align: center;
}

.gothMed{
    font-family: Gotham;
    font-weight: normal;
    font-size: 2rem;
}

.gothLight{
    font-family: Gotham;
    font-weight: 300;
    font-size: 1.75rem;
}

.birth{
    position: absolute;
    top: 20%;
    left: 25%;
}

.birth input{
    display: flex;
    cursor:pointer;
    background-color:#f8f8f8;
    color:#2d93af;
    border-radius:2.625rem;
    font-size:1.75rem;
    padding:1rem 2.8125rem;
    height: 3.8rem;
    margin-top: 0.625rem;
}

.gender{
    position: absolute;
    top: 20%;
    right: 25%;
}

.gender .ladyMan{
    display: flex;
}

.gender input{
    display:flex;
    cursor:pointer;
    background-color:#f8f8f8;
    color:#2d93af;
    border-radius:2.625rem;
    font-size:1.75rem;
    padding:1rem 2.8125rem;
    height: 3.8rem;
    margin-top: 0.625rem;
}

.gender input:hover{
    background: #2D92AF;
    color: white;
}

.height{
    position: absolute;
    top: 36%;
    left: 25%;
}

.height input{
    display:flex;
    cursor:pointer;
    background-color:#f8f8f8;
    color:#2d93af;
    border-radius:2.625rem;
    font-size:1.75rem;
    padding:1rem 2.8125rem;
    height: 3.8rem;
    margin-top: 0.625rem;
}

.weight{
    position: absolute;
    top: 36%;
    right: 25%;
}

.weight input{
    display:flex;
    cursor:pointer;    
    background-color:#f8f8f8;
    color:#2d93af;
    border-radius:2.625rem;
    font-size:1.75rem;
    padding:1rem 2.8125rem;
    height: 3.8rem;
    margin-top: 0.625rem;
}

.problems{
    position: absolute;
    top: 55%;
    left: 25%;
}

.problems li {
    margin: 0.625rem 0rem;
}

.problems li label{
    margin-left: 0.625rem;
}
.next button{
    /*position: absolute;
    bottom: 25%;
    left: 50%;*/
    margin: 0 auto;
    display:flex;
    cursor:pointer;
    background-color:#2d93af;
    color:#ffffff;
    border-radius:2.625rem;
    font-size:1.75rem;
    padding:1rem 2.8125rem;
    height: 3.8rem;
}

/* input arrows */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input::-webkit-clear-button { 
    -webkit-appearance: none; 
    margin: 0;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}