/* 
bleu: #2D92AF 
gris bouton: #F8F8F8
*/

* {
	box-sizing: border-box;
}

body{
    color: #2D92AF;
}

.gothMed{
    font-family: Gotham;
    font-weight: normal;
}

.gothLight{
    font-family: Gotham;
    font-weight: 300;
}

h1{
    font-family: ITC Avant Garde Gothic;
    src: url('ITC-Avant-Garde-Gothic-LT-Bold.otf');
}

h2{
    src: url('Gotham-Light.otf');
    font-size: 1.25rem;
}

.tipSport h1{
    font-size: 3.0625rem;
}

.titles{
    text-align: center;
}



.titles h1{
    font-size: 3.5625rem;
}

.birth{
    position: absolute;
    left: 150px;
}

.birth input{
    background-color:#f8f8f8;
    -moz-border-radius:2.625rem;
    -webkit-border-radius:2.625rem;
    border-radius:2.625rem;
    display: flex;
    cursor:pointer;
    color:#2d93af;
    font-size:1.25rem;
    padding:1rem 2.8125rem;
    margin-top: 0.625rem;
    height: 3.125rem;
}

.gender{
    position: absolute;
    left: 500px;
}

.gender .ladyMan{
    display: flex;
}

.gender input{
    background-color:#f8f8f8;
    -moz-border-radius:2.625rem;
    -webkit-border-radius:2.625rem;
    border-radius:2.625rem;
    display:flex;
    cursor:pointer;
    color:#2d93af;
    font-size:1.25rem;
    padding:1rem 2.8125rem;
    margin-top: 0.625rem;
}

.height{
    position: absolute;
    top: 320px;
    left: 150px;
}

.height input{
    background-color:#f8f8f8;
    -moz-border-radius:2.625rem;
    -webkit-border-radius:2.625rem;
    border-radius:2.625rem;
    display:flex;
    cursor:pointer;
    color:#2d93af;
    font-size:1.25rem;
    padding:1rem 2.8125rem;
    margin-top: 0.625rem;
}

.weight{
    position: absolute;
    top: 320px;
    left: 500px;
}

.weight input{
    background-color:#f8f8f8;
    -moz-border-radius:2.625rem;
    -webkit-border-radius:2.625rem;
    border-radius:2.625rem;
    display:flex;
    cursor:pointer;
    color:#2d93af;
    font-size:1.25rem;
    padding:1rem 2.8125rem;
    margin-top: 0.625rem;
}

.problems{
    position: absolute;
    top: 460px;
    left: 150px;
}

.next button{
    position: absolute;
    bottom: 250px;
    left: 150px;
    cursor:pointer;
    background-color:#2d93af;
    -moz-border-radius:2.625rem;
    -webkit-border-radius:2.625rem;
    border-radius:2.625rem;
    display:flex;
    cursor:pointer;
    color:#ffffff;
    font-size:1.25rem;
    padding:1rem 2.8125rem;
    margin-top: 0.625rem;
    height: 3.125rem;
}